/* About Us */ 
details {
  width: 75%;
  min-height: 5px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 1.2rem;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
  border: 2px black solid;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #DDA15E;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #FEFAE0;
  word-break: break-all;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: #317B22;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: #317B22;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

