/* Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/* Custom properties: fonts */
:root {
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;

  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary: hsl(7, 100%, 40%);
  --clr-accent: hsl(156, 85%, 55%);
}


/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: "Lato", sans-serif;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-size: var(--fs-400);
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  height: auto;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.page_heading {
  font-size: var(--fs-700);
  color: var(--clr-primary);
  text-align: center;
  margin-bottom: 5vh;
}

@media (max-width: 600px) {
  .page_heading {
    font-size: var(--fs-600);
  }
} 

section {
  margin-bottom: 10vh;
}

/* END CSS RESET */

/* Navbar */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  /* top left bottom right */
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.navigation {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav_list {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
}

.nav_list li {
  padding: 0 1.25rem;
}

.nav_list li a {
  display: block;
  position: relative;
  text-align: left;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08rem;
  padding: 0rem 0.4rem;
  font-size: var(--fs-400);
  transition: 0.2s ease 0s;
}

/* nav list underline styling */
.nav_list li a:after {
  content: "";
  position: absolute;
  background-color: var(--clr-accent);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -0.2rem;
  border-radius: 30px;
  transition: 0.3s;
}

.nav_list li a:hover:after {
  width: 100%;
}

/* download now button */
.cta {
  border: 0;
  background: transparent;
  background-color: var(--clr-primary);
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  cursor: pointer;
  padding: 0.5rem 24px;
  font-weight: bold;
  transition-duration: 0.5s;
}

.cta:hover {
  background-color: hsl(7, 100%, 48%);
}

/* hamburger menu */
.nav_toggle {
  display: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
  z-index: 9999;
  position: absolute;
  top: 1.9rem;
  right: 1.5rem;
  width: 2rem;
  height: 1.6rem;
}

.nav_toggle .bar {
  display: block;
  width: 2rem;
  height: 0.25rem;
  border-radius: 1rem;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-accent);
}

/* hamburger menu screen reader compatibility */
.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Responsiveness on tablets & mobile */
@media (max-width: 1100px) {
  .nav_list li a {
    letter-spacing: 0;
  }
}

@media (max-width: 955px) {
  .nav_logo {
    width: 180px;
  }
}

/* Mobile menu */
@media (max-width: 900px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  /* mobile navbar */
  .navigation {
    position: fixed;
    z-index: 1000;
    inset: 5.5rem 0 0 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    padding: 1.5rem 2rem 0 2rem;
    background-color: hsla(4, 0%, 100%);
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .nav_links {
    width: 100%;
  }

  .nav_list {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem
  }

  .nav_list li {
    padding: 0;
    width: 100%;
  }

  .nav_list li a {
    font-size: var(--fs-500);
    padding: 0;
  }

  .cta.nav {
    align-self: center;
    padding: 0.5rem 5rem;
    font-size: var(--fs-500);
  }

  /* mobile navbar toggle animation */
  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav_toggle {
    display: block;
  }

  .nav_toggle.active .bar:nth-child(3) {
    opacity: 0;
  }

  .nav_toggle.active .bar:nth-child(2) {
    transform: translateY(0.55rem) rotate(45deg);
  }

  .nav_toggle.active .bar:nth-child(4) {
    transform: translateY(-0.55rem) rotate(-45deg);
  }
}

/* Hero section */
.hero_container {
  position: relative;
  display: flex;
  padding: 0 15vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  min-height: 40vh;
  overflow: hidden;
  gap: 2rem;
  background: rgb(0, 0, 0, 0.5);
}

.hero_video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.hero_text {
  /* padding: 0 10rem; */
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.hero_header {
  font-size: 3rem;
  font-weight: bold;
}

.hero_subtitle {
  font-size: var(--fs-500);
}

.hero_btns {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* margin-left: 20rem; */
  gap: 1rem;
}

/* primary button */
.primary_btn {
  border: 0;
  background: transparent;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border-radius: 25px;
  cursor: pointer;
  padding: 0.5rem 24px;
  transition-duration: 0.5s;
}

.primary_btn:hover {
  background-color: hsl(0, 0%, 90%);
  /* color: white; */
}

@media (max-width: 600px) {
  .hero_container {
    min-height: 50vh;
    padding: 0 5vw;
  }
}

/* promo content (image/text) */
.promo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
}

.promo_img_container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.promo_text_container {
  width: 50%;
}

.promo_text h1 {
  color: var(--clr-primary);
  ;
}

.promo_text h2 {
  text-wrap: wrap;
  font-weight: normal;
}

@media (max-width: 600px) {
  .promo_container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .promo_img_container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .promo_text_container {
    width: 70%;
  }
}

/* promo rows */
.promo_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 2vh 5vw;

}

.promo_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promo_box h2 {
  color: var(--clr-primary);
}

svg {
  height: 50px;
  width: 50px;
}

.icon_lock,
.icon_hand {
  fill: var(--clr-accent);
}

.icon_check {
  fill: none;
  stroke: var(--clr-accent);
}

/* Download now section */
.download {
  margin: auto;
  width: 90%;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.badges.landing {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.badges.landing img {
  padding: 0;
  width: 200px;
}


@media (max-width: 730px) {
  .promo_row {
    flex-direction: column;
    padding: 2vh 5vw;
  }
}

/* Footer */
.footer {
  background-color: var(--clr-primary);
  padding-bottom: 1rem;
}

.footer_content {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 3rem 0 2rem 0;
  color: var(--clr-white);
}

@media (max-width: 925px) {
  .footer_content {
    flex-direction: column;
    gap: 2rem;
  }
}

.footer_left {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.badges.footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.badges.footer img {
  padding: 0;
  width: 140px;
}

.footer_middle,
.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.footer a {
  text-decoration: none;
  transition: 0.3s ease;
}

.footer a:hover {
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--clr-accent);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact i {
  font-size: 1.5rem;
}

.legal_info {
  color: var(--clr-white);
  font-size: var(--fs-400);
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  text-decoration: none;
}

.footer_bar {
  margin: auto;
  width: 90%;
  height: 0.2rem;
  border-radius: 20px;
  background-color: white;
}